@page
@model AgileWorksTauriS.Pages.AgileWorks.addTicketModel
@{
    ViewData["Title"] = "Add Ticket";
}
<br />
<h2>Add Ticket</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="comment" value="@Model.supportTicket.comment" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Deadline</label>
        <div class="col-sm-6">
            <input type="datetime-local" class="form-control" name="deadLine" value="@Model.supportTicket.deadLine" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Create Date</label>
        <div class="col-sm-6">
            <input type="datetime-local" class="form-control" name="createDate" value="@Model.supportTicket.createDate" readonly />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/AgileWorks/TableView" role="button">View Tickets</a>
        </div>
    </div>
</form>